@model IEnumerable<dfsTest.Models.Player>

@{
    ViewBag.Title = "PlayerCreator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Player Creator</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>
        <th></th>
    </tr>

@foreach (var player in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => player.FName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => player.LName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => player.Salary)
        </td>
        <th>
            @Html.DisplayFor(modelItem => player.Position)
        </th>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = player.Id }) |
            @Html.ActionLink("Details", "Details", new { id = player.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = player.Id })
        </td>
    </tr>
}

</table>
